{% extends 'base.html' %}
{% block title %}Assignment3_1{% endblock %}
{% include('assignment3_styles.html') %}

{% block tohen %}

    <header class="header">
        <h1>Our Recommendations</h1>
    </header>


{# loop over artists dictionary and split to listed categories #}
    {% for artist, type in artists.items() %}

        {% if type| lower() =="female singer" %}
            {{ females.append(artist) or "" }}

        {% elif type| lower() =="male singer" %}
            {{ males.append(artist) or "" }}

        {% else %}
            {{ bands.append(artist) or "" }}
        {% endif %}

    {% endfor %}




    <br>
    <div class="container">
        <h2>Female Singers</h2>
        <ul>
            {% for female in females %}
                <li>{{ female | title() }}</li>
            {% endfor %}
        </ul>
    </div>
    <br>

    <div class="container">
        <h2>Male Singers</h2>
        <ul>
            {% for male in males %}
                <li>{{ male | title()   }}</li>
            {% endfor %}
        </ul>
    </div>
    <br>

    <div class="container">
        <h2>Bands</h2>
        <ul>
            {% for band in bands %}
                <li>{{ band | title()   }}</li>
            {% endfor %}
        </ul>
    </div>
    <br>

{# message from base page #}
    {{ super() }}
    <br><br><br><br>


{# user recomendations form #}
    <form id="user_recommendations" action="/share_recommendation/" method="post">
        <h3>We would love to know about your music recommendations!</h3>
        <p>Artist Name</p>
        <input type="text" id="artist" name="artist" required><br><br>
        <p>Artist Type (Male Singer/Female Singer/Band)</p>
        <input type="text" id="artistType" name="artistType" required><br><br>
        <input type="submit" id="recommendationBtn" value="Share"><br><br><br>
    </form>
    <br>

{% endblock %}